<html>

    <head>
        <title> Buesqueda de Porductos</title>
        <style>
            input{
                color: #8F5E3C;
                background-color: beige;
                border-radius: 5px;
                border: 3px solid aquamarine;
            }
            form{
                text-align: center;
            }
            h1{
                color: aquamarine;
                text-align: center;
                border-bottom:solid aquamarine;
	            width:50%;
	            margin:auto;
            }
        </style>
    </head>

    <body>
        <h1>Busqueda de Productos</h1></br></br>
        <form name="form1" action="/buscar/" method="GET">

            <input type="text" name="prd">
            <input type="submit" value="Buscar">
        
        </form>
    </body>

</html>